@media (min-width: 320px) and (max-width: 767px) {
    .navbar-brand img {
        height: 30px;
    }
    .hero h1 {
        font-size: 24px;
    }
    .service-wrap .h6 {
        font-size: 16px;
    }
    .service-wrap h2 {
        font-size: 22px;
    }
    .portfolio-container h2 {
        font-size: 24px;
    }
    .testimonial-wrap .h6 {
        font-size: 16px;
    }
    .testimonial-wrap h2 {
        font-size: 24px;
    }
    .form-wrap .h6 {
        font-size: 16px;
    }
    .form-wrap h2 {
        font-size: 24px;
    }
    .footer-menu-area {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-menu {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .footer-menu-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-menu {
        flex-direction: row;
    }
}