@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #212121;
    --text-color: #444;
    --sub-title: #777;
    --accent: #838DFA;
    --btn-bg: #F65289;
    --light-color: #fff;
    --section-bg: #F7F7F7;

    --primary-ff: 'Inter', sans-serif;
    --secondary-ff: 'Poppins', sans-serif;
}

body {
    font-family: var(--primary-ff);
    font-size: .875rem;
}

ul,ol {
    list-style: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-ff);
    color: var(--header-color);
    margin-bottom: 1.875rem;
}

h1, .h1 {
    font-size: 2.986rem;
    font-weight: 600;
    line-height: 1.4em;
}
h2, .h2 {
    font-size: 2.488rem;
    font-weight: 600;
    line-height: 1.4em;
}
h3, .h3 {
    font-size: 2.074rem;
}
h4, .h4 {
    font-size: 1.728rem;
}
h5, .h5 {
    font-size: 1.44rem;
}
h6, .h6 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    color: var(--text-color);
    font-size: .875rem;
    line-height: 1.6em;
}
p:last-child {
    margin-bottom: 0;
}

a, .btn {
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn {
    font-size: .875rem;
    font-weight: 500;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
}

/* Header */
.custom-header {
    background: rgb(243, 243, 243, 0);
}
.navbar-brand img {
    height: 56px;
}

.navbar-nav {
    margin-top: 0 !important;
}
.navbar-nav .nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--header-color);
    font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link.active {
    color: var(--btn-bg);
}

.top-btn {
    background: var(--accent);
    color: var(--light-color);
}
.top-btn:hover {
    background:var(--btn-bg);
    color: var(--light-color);
}

/* Hero Section */
.btn-hero {
    background: var(--btn-bg);
    color: var(--light-color);
}
.btn-hero:hover {
    background: var(--accent);
    color: var(--light-color);
}

/* Services */
.service-wrap {
    background: var(--section-bg);
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    margin: 6.25rem 0;
}
.service-card .card {
    border: none;
    background: var(--light-color);
    border-radius: 10px;
}
.service-card .card-body {
    padding: 30px;
}
.service-card .card img {
    width: auto;
    height: 50px;
    margin-bottom: 15px;
}
.service-card .card h3 {
    margin-bottom: 1.875rem;
}
.card-more-btn {
    font-family: var(--secondary-ff);
    color: var(--header-color);
    font-weight: 500;
}
.card-more-btn:hover {
    color: var(--btn-bg);
}

/* Portfolio */
.portfolio-container {
    margin-bottom: 6.25rem;
}
.portfolio-wrap img {
    width: 100%;
    border-radius: 10px;
    background: var(--light-color);
    transition: all .4s ease-in-out;
}
.portfolio-wrap img:hover {
    filter: opacity(.5);
}

/* Testimonial */
.testimonial-wrap {
    margin-bottom: 6.25rem;
}
.testimonials p {
    margin-top: 1.25rem;
}

/* Form */
.form-wrap {
    background: var(--section-bg);
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.form-control {
    border-radius: 30px;
    padding: 10px 20px;
}
textarea {
    resize: none;
}

/* Footer */
footer {
    padding-top: 6.25rem;
    padding-bottom: 6.25em;
}
.footer-menu-area {
    display: flex;
    justify-content: space-between;
}
.footer-menu {
    display: flex;
    gap: 1.5rem;
}
.footer-menu a {
    color: var(--text-color);
}
.footer-menu a:hover {
    color: var(--btn-bg);
}

.social-icons {
    display: flex;
    gap: 1.875rem;
}
.social-icons a {
    color: var(--text-color);
    font-size: 1rem;
}
.social-icons a:hover {
    color: var(--btn-bg);
}
.copyright {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}